server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: password

  output:
    ansi:
      enabled: always  # 또는 detect      
  
  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    show-sql: true
    properties:
      '[hibernate.format_sql]': true
      '[hibernate.use_sql_comments]': true
      '[hibernate.show_sql]': true

mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true

logging:
  level:
    '[com.example.rollback]': DEBUG
    '[org.springframework.transaction]': DEBUG
    # '[org.mybatis]': DEBUG  
  pattern:
    console: "%clr(%d{yyyy-MM-dd HH:mm:ss}){faint} %clr([%-5level]){highlight} %clr(%logger{36}){cyan} - %msg%n"